---
layout: base
title: The Independency Co.
---

<style>

    #aboutus p { max-width: 600px; }
    .hero span { display: block; }
</style>

<div class="container black hero" style="background-image: url('/img/tic-bg.png'); background-size: cover; background-position: center;">
    <div class="inner">
        <h1><span>We make</span> <span>freelancing</span> <span>work better.</span></h1>
    </div>
</div>



<div class="container white" id="aboutus">   
    <div class="inner">
        
        <p><strong>Our work supports both freelancers and hirers to
        work better, together.</strong></p>
        
        
        <p>Whether it’s our award winning mental health project
        <a href="https://leapers.co">Leapers</a>, our free resources on <a href="https://freelancing.support">freelancing.support</a>, 
        our communities like <a href="https://outsideperspective.co">Outside Perspective</a> - we’ve
        been making freelancing work better for almost ten years.</p>

        <p>Founded by <a href="/matthew-knight">Matthew Knight, the Chief Freelance Officer</a>, a vocal advocate for freelancers and improved ways of working with independents.</p>

        <a href="mailto:hello@independency.co" class="button" style="margin-top: 50px;">Get in touch</a>
    </div>
</div>



<style>
    .h2 { font-family: 'Space Grotesk', sans-serif; font-size: 32px; font-weight: 600; line-height: 0.9; margin-top: 50px; display: block; }
</style>



<div class="container beige">
    <div class="inner">

        <div class="sectionlabel">For Freelancers &amp; hirers</div>
        <h2>Supporting the mental health of freelancers.</h2>
        <p style="max-width: 600px;">
            Our award winning work has supported over 250,000 freelancers. Discover resources, tools and insights for your freelancing journey, or if you're a working with freelancers provide them with access to signposting and suport.
        </p>
        <a href="https://leapers.co" class="button">
            Leapers.co
        </a>
    
    </div>
</div>

<div class="container black" style="background-color:rgb(7, 7, 64)">
    <div class="inner">

        <div class="sectionlabel">For Freelance Community Leaders</div>
        <h2>Collectively supporting {{site.data.stats.coalition_total_members}}+ UK freelancers.</h2>
        <p style="max-width: 600px;">
            {{site.communities.size}} of the UK's top freelance communities, working together to support freelancers and hirers.
        </p>
        <a href="/community-coalition" class="button">
            Community Coalition
        </a>
    
    </div>
</div>



<div class="container black">
    <div class="inner">

        <div class="sectionlabel">For Hirers</div>
        <h2>Find the costly leaks in your freelancer pool.</h2>
        <p style="max-width: 600px;">
            Run a vibe check on your talent pool -  understand your freelancer experience to keep your best freelancers onboard. <strong>Reduce talent costs, improve retention, increase fROI and reputation.</strong>
        </p>
        <a href="/feedback" class="button">
            Get your FERRI score
        </a>
    
    </div>
</div>


<div class="container yellow">
    <div class="inner">

        <div class="sectionlabel">For Freelancers</div>
        <h2>The independent guide to independent work.</h2>
        <p style="max-width: 600px;">
            Our comprehensive resource library, expert advice, freelancer stories and co-pilot for freelancers.
        </p>
        <a href="https://freelancing.support" class="button">
            freelancing.support
        </a>
    
    </div>
</div>

<div class="container black">
    <div class="inner">

        <div class="sectionlabel">For Freelancers &amp; hirers</div>
        <h2>The place for independent strategists</h2>
        <p style="max-width: 600px;">
            A curated community of the world's best independent strategists - all in one place.
        </p>
        <a href="https://outsideperspective.co" class="button">
            Outside Perspective
        </a>
    
    </div>
</div>



<div class="container black" style="background-color:rgb(3, 3, 27)">
    <div class="inner">

        <div class="sectionlabel">For Everyone</div>
        <h2>Freelancers, wanted</h2>
        <p style="max-width: 600px;">
            A new podcast exploring the people and organisations that are actively investing in working with and supporting freelancers.
        </p>
        <a href="/freelancers-wanted" class="button">
            Take part
        </a>
    
    </div>
</div>

<div class="container white">
    <div class="inner">

        <style>
            .cols { display: flex; flex-direction: row; gap: 20px; flex-wrap: wrap; }
            .col { flex: 1; min-width: 300px; }
            .col img { width: 100%; max-width: 400px; height: auto; border-radius: 10px; border-radius: 90px; }
        </style>
        <h3>Meet the Chief Freelance Officer - Matthew Knight</h3>
        <div class="cols">

            <div class="col">
                <img src="/img/matthew-knight.png" alt="Matthew Knight" style="width: 100%; height: auto; border-radius: 10px;">
            </div>

            <div class="col">
                
                <p style="max-width: 600px;">
                    <a href="https://linkedin.com/in/thinkplaymake">Matthew Knight</a> is an independent strategist, and founder of The Independency Co.<br/><br/> 
                    
                    For ten years, he's been a vocal advocate for freelancers and improved ways of working with independents.<br/><br/> 
                    
                    Founder of the award winning Leapers project - supporting over 250,000 freelancers, he writes regularly on the topic of independent work and has featured in titles including Freelancing Magazine, Design Week, Creative Bite, The Guardian, Bloomberg, Future Trends, Courier and the BBC.<br/><br/> 
                    
                    He is a member of the Mental Health at Work Leadership Council, and has contributed to a number of government panels on the topic of independent work.
                </p>

                <a href="mailto:hello@independency.co" class="button">Get in touch</a>
            </div>
            
        </div>
        
    </div>
</div>



<style>
    .substack-items { display: grid; grid-template-columns: repeat(2, 1fr); column-gap: 100px;  }
    
</style>
<div class="container white">

    <div class="inner">
        <h3>Notes on independent work</h3>

        <div class="substack-items">
            {% for item in site.notes reversed %}
            <a href="{{ item.url }}" style="text-decoration: none; margin-bottom: 50px;">
                <time style="font-size: 12px; text-transform: uppercase;">{{ item.date_posted | date: "%B %d, %Y" }}</time><br/>
                <strong style="text-decoration: underline;">{{ item.title }}</strong>
                <p>{{ item.description }}</p>
            </a>
            {% endfor %}
        </div>
    </div>


</div>

<div class="container white">
    <div class="inner" style="text-align: center;">

        <strong>Subscribe to a new way of working</strong><br/><br/>
        {% include substackwidget.html %}





        <a href="mailto:hello@independency.co" style="display: block; margin-top: 150px;">
            Get in touch
        </a> 
        <br/><br/>
        <div style="font-size: 12px;">
            The Independency Co. is a trading name of Foxlark Strategy Limited.<br/>
            a registered company in england and wales, no. 14421110<br/>
            VAT GB 296 6774 34.
        </div>
       
        

        
    </div>
</div>



