<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
    
<style>
    .inner.contact a { display: block; }
</style>

<div class="inner contact">
    <h2>get started _</h2>
    <a class="" href="#" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/theindependencyco/discoverycall'});return false;">&gt; arrange discovery call</a>
    <a href="mailto:hello@the.independency.co">&gt; send us a note</a>
    <a href="/about.html">&gt; about the independency</a>
</div>