---
layout: base
title: Community Coalition - creating a collective voice for freelancers.

og_image: https://the.independency.co/img/coalition/og.png
og_description: Eleven of the UK's leading freelance communities, working together to collectively support freelancers.
og_url: https://the.independency.co/community-coalition

toplevelsubnav_url: "/community-coalition"
toplevelsubnav_text: "Community Coalition"
---

<style>

    #whatyouget ul { margin-bottom: 50px; }
    #aboutus p { max-width: 600px; }
    h1 { font-size: clamp(2rem, 7vw, 7vw); }
    h4 { margin-bottom: 20px; }

    .responsivecols { display: grid; grid-template-columns: 1fr 1fr; gap: 2rem; }
    @media (max-width: 768px) {
        .responsivecols { grid-template-columns: 1fr; }
    }


</style>

<div class="container black" style="background-image: url('/img/interstellar-bg.png'); background-size: cover; background-position: center;">
    <div class="inner">
        <h1 style="text-align: center;">Collective support for freelancers.</h1>
        <p style="max-width: 600px; margin: 0 auto; margin-bottom: 100px; text-align: center;">Bringing together the UK's leading freelance communities. {{site.data.stats.coalition_total_members | format_number }}+ freelancers across<br/>{{site.communities.size | number_to_words}} brilliant projects.</p>

        
        <div class="responsivecols">
            <div class="col" style="text-align: center;">
                <h4>Community host?</h4>
                <a href="https://airtable.com/appmrBuX0HQ2poylW/shr3w3bIHq8Zz2xGi" class="button" style="display: block; max-width: 400px; text-align: center; margin: 0 auto; margin-bottom: 100px;">Register your interest</a>
            </div>
            <div class="col" style="text-align: center;">
                <h4>Keen to reach our members?</h4>
                <a href="mailto:coalition@independency.co" class="button" style="display: block; max-width: 400px; text-align: center; margin: 0 auto; margin-bottom: 100px;">Get in touch</a>
            </div>
        </div>
        
        
    </div>

</div>

<div class="container white">
    <div class="inner" style="text-align: center">

        <h3>Impact Report 2025</h3>
        <p style="max-width: 600px; margin: 0 auto;">As part of our mission as a Community Coalition to surface the important work being done, we asked our members to share their community impact during 2025.</p>
        <a href="impact-report">Read the Impact Report 2025</a>
    </div>
</div>




{% include community-coalition-memberlist.html %}


<div class="container white">
    <div class="inner responsivecols">
       
        <div class="col-left" style="margin-top: 50px; white-space: pre-line;"><strong>There are so many fantastic freelancing communities, doing amazing work supporting their members.</strong>

           From generalist groups to specific capabilities and verticals, there are groups for new freelancers, established freelancers, those who identify with certain cultures and identities, those for people are are nomadic, those who specialise in certain industries, for parents, for coffee drinkers, for everyone.

           But individually, there's only so much we can do. 
           
           Yes, we can support our members, provide resources and opportunities, but we can't do everything.

           <strong style="font-size: 120%">That's where the Independency Community Coalition comes in.</strong>

           We're a group of freelancers, who are passionate about supporting each other, and creating a better future for freelancing.

           Sharing insights, actions, objectives and opportunities - all for the benefit of our collective communities.

           If you run a freelancing focused community project, <a href="https://airtable.com/appmrBuX0HQ2poylW/shr3w3bIHq8Zz2xGi">get in touch</a>.
        </div>

        <div class="col-right">
            <img src="/img/highfive.png" alt="Independency Coalition" style="width: 100%; max-width: 400px; margin: 0 auto; display: block;">
        </div>

    </div>
</div>


{% include footer.html type=mini %}