<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <title>{{page.title|default:"The Independency Co."}}</title>
            
        <meta name="description" content="{{page.og_description|default:"We make freelancing work better, for freelancers and hirers."}}">
        <meta property="og:title" content="{{page.title|default:"The Independency Co."}}">
        <meta property="og:description" content="{{page.og_description|default:"We make freelancing work better, for freelancers and hirers."}}">
        <meta property="og:image" content="{{page.og_image|default:"https://the.independency.co/img/og.png"}}">
        <meta property="og:url" content="{{page.og_url|default:"https://the.independency.co"}}">

        <script defer data-domain="independency.co" src="https://plausible.io/js/script.outbound-links.js"></script>
        <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>

        <link rel="stylesheet" href="/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">

    </head>
    <body>

        <div class="container black">
            <div class="inner">
                <div class="sitename">
                    <a href="/">The Independency Co.</a>
                
                    {% if page.toplevelsubnav_url %}
                        <a href="{{page.toplevelsubnav_url}}" style="font-weight: 100">{{page.toplevelsubnav_text}}</a>
                    {% endif %}

                </div>
            </div>
        </div>
        
        {{content}}
        
    </body>
</html>