---
layout: base
---

<style>
    .content p { max-width: 600px; }
    h1 { font-size: 50px; }
    h1 + p { font-size: 150%; }
    .hero .date { display: block; margin-bottom: 30px; }
    .content blockquote { font-style: italic; font-size: larger; border-left: 2px solid black; padding-left: 30px; margin-top: 50px; margin-bottom: 50px; }
</style>
<div class="container black hero">
    <div class="inner">
        <span class="date">{{page.date_posted}}</span>
        <h1>{{page.title}}</h1>
        <p>{{page.description}}</p>
    </div>
</div>
<div class="container">
    <div class="inner content">


        {{content}}
    </div>
</div>


<div class="container white">
    <div class="inner" style="text-align: center;">

        <strong>Subscribe to a new way of working</strong><br/><br/>
        {% include substackwidget.html %}

    </div>
</div>



<style>
    .notelist a { text-decoration: none; padding-right: 30px; }
    .notelist a:hover { text-decoration: underline; }
    .notelist .date { display: block; font-size: smaller; }
</style>
<div class="container black">
    <div class="inner notelist">

        <h3>Read more from The Independency Co.</h3>
        

        {% for note in site.notes reversed %}
        <a href="{{note.url}}">
            <span class="title">{{note.title}}</span>
        </a>
        {% endfor %}
    </div>
</div>


<div class="container white">
    <div class="inner">

        <style>
            .cols { display: flex; flex-direction: row; gap: 20px; flex-wrap: wrap; }
            .col { flex: 1; min-width: 300px; }
            .col img { width: 100%; max-width: 400px; height: auto; border-radius: 10px; border-radius: 90px; }
        </style>
        <h3>Meet Matthew Knight: The Chief Freelance Officer</h3>
        <div class="cols">

            <div class="col">
                <img src="/img/matthew-knight.png" alt="Matthew Knight" style="width: 100%; height: auto; border-radius: 10px;">
            </div>

            <div class="col">
                
                <p style="max-width: 600px;">
                    <a href="/matthew-knight">Matthew Knight</a> is an independent strategist, and founder of The Independency Co.<br/><br/> 
                    
                    For ten years, he's been a vocal advocate for freelancers and improved ways of working with independents.<br/><br/> 
                    
                    Founder of the award winning Leapers project - supporting over 250,000 freelancers, he writes regularly on the topic of independent work and has featured in titles including Freelancing Magazine, Design Week, Creative Bite, The Guardian, Bloomberg, Future Trends, Courier and the BBC.<br/><br/> 
                    
                    He is a member of the Mental Health at Work Leadership Council, and has contributed to a number of government panels on the topic of independent work.
                </p>

                <a href="mailto:hello@independency.co" class="button">Get in touch</a>
            </div>
            
        </div>
        
    </div>
</div>




<div class="container black" id="aboutus">   
    <div class="inner">
        <h2>The Independency Co.</h2>
        <p><strong>Creating confidence in freelancing.</strong></p>

        <p>Our work supports both freelancers and hirers to
        work better, together.</p>
        
        
        <p>Whether it’s our award winning mental health project
        Leapers, our free resources on freelancing.support, or
        our communities like Outside Perspective - we’ve
        been making freelancing work better for almost ten
        years.</p>

        <a href="/" class="button">Discover more</a>

        <div style="font-size: 12px;">
            The Independency Co. is a trading name of Foxlark Strategy Limited.<br/>
            a registered company in england and wales, no. 14421110<br/>
            VAT GB 296 6774 34.
        </div>
       
    </div>
</div>



